
@import 'normalize';
@import 'utilities';

$bn-green: #7bba00;
$bn-dark-green: #5b8900;

html, body {
    
    width: 100%;
    height: 100%;
    overflow: auto;  
}
    
body {
    
    background-color: #d7d7d7;
    font: 16px/22px 'Gill Sans', Verdana, sans-serif; 
    
    ::-moz-selection,
	::selection { 
		
		background: $bn-green; 
	}    
}

/* !Library */

header {
    
    height: pem(42);
    background: #FFF;
    border-bottom: 1px solid $bn-dark-green;
    position: absolute;
    width: 100%;
    top:0;
    
    h1 {
        
        font-size: pem(11);
        letter-spacing: pem(2, 11);
        color: $bn-green;
        text-transform: uppercase;
        
        border-right: 1px solid #CCC;
        
        float: left;
        margin: 0;
        height: 100%;
        padding: 0 pem(30);
        line-height: pem(43, 11);   
        
        span {
            
            font-weight: normal;
            font-size: 0.8em;
        }
    }
}

#bn-container {
    
    position: absolute;
    top: pem(43);
    bottom: 0;
    width: 100%;
    overflow: auto;
 
    .bn-empty {

        font-size: pem(14);    
        color: #9e9e9e;
        font-weight: normal;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        
        width: pem(209, 14);
        padding-top: pem(160, 14);
        margin: pem(42, 14) auto 0;
        
        background: url('../images/bn-dropzone.gif') no-repeat;
        
    }
    
    &.drop {
        
        background: $bn-green;
    
        .bn-empty {
            
            color: $bn-green;
            background-image: url('../images/bn-dropzone-hover.gif');
        }
    }
    
}
    
/*
#bn-drop {
    
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background: #78BEF0;
    border: 3px solid #254870;
    border-radius: 6px;
    opacity: 0.5;
    z-index: -1;
    
    display: none;
        
    }

.bn-books-list {
    
    list-style: none;
    padding: 0;
    
    }
    
.bn-books-list li {
    
    width: 14em;
    text-align: center;
    float: left;
    margin: 1.4em;
    
    }
    
    .bn-books-list a {
        
        text-decoration: none;
        
        }
    
    .bn-books-list img {
        
        width: 80%;
        box-shadow: 0 2px 10px #AAA;
        -webkit-transition: all .11s ease-in-out;
        -webkit-backface-visibility: hidden;
        
        }
        
        .bn-books-list img:hover {
            
            -webkit-transform: scale(1.03);
            
            }

        .bn-books-list h3 {
            
            font-size: 0.9em;
            line-height: 1.2em;
            margin-bottom: 0.5em;
            color: #333;
            
            }
            
        .bn-books-list h4 {
            
            margin-top: 0;
            font-weight: normal;
            font-size: 0.8em;
            color: #888;
            
            }
            
/* !Reader 

.bn-reader-container {
    
    height: 100%;
    overflow: hidden;
    
    }

    .bn-toc {
        
        width: 21em;
        overflow: auto;
        height: 100%;
        float: left;
        border-right: 1px solid #BBB;
        
        }
        
        .bn-toc ul {
            
            list-style: none;
            margin: 0.5em 0;
            padding-left: 2em;
            
            }
        
        .bn-toc > ul {
            
            padding: 1em;
            
            }
            
            .bn-toc li {
                
                margin-bottom: 0.4em;
                
                }
            
        .bn-toc a {
            
            display: block;
            font-size: 0.75em;
            line-height: 1.4em;
            text-decoration: none;
            color: #333;
            
            }
            
            .bn-toc a:hover {
                
                text-decoration: underline;
                
                }
        
    .bn-reader {
        
        width: auto;
        margin-left: 21em;
        height: 100%;
        background: #FFF;
        
        }
        
        .bn-reader iframe {
            
            position: absolute;
            width: 100%;
            height: 100%;
            
            }
*/