
@import 'normalize';
@import 'utilities';

$bn-green: #7bba00;
$bn-dark-green: #5b8900;

html, body {
    
    width: 100%;
    height: 100%;
    overflow: auto;  
}
    
body {
    
    background-color: #d7d7d7;
    font: 16px/22px 'Gill Sans', Verdana, sans-serif; 
    
    ::-moz-selection,
	::selection { 
		
		background: $bn-green; 
	}    
}

/* !Library */

header {
    
    height: pem(42);
    background: #FFF;
    border-bottom: 1px solid $bn-dark-green;
    position: absolute;
    width: 100%;
    top:0;
    
    h1 {
        
        font-size: pem(11);
        letter-spacing: pem(2, 11);
        color: $bn-green;
        text-transform: uppercase;
        
        border-right: 1px solid #CCC;
        
        float: left;
        margin: 0;
        height: 100%;
        padding: 0 pem(30);
        line-height: pem(43, 11);   
        
        span {
            
            font-weight: normal;
            font-size: 0.8em;
        }
    }
}

#bn-container {
    
    position: absolute;
    top: pem(43);
    bottom: 0;
    width: 100%;
    overflow: auto;
 
    #bn-empty {

        width: pem(209);
        padding-top: pem(150);
        margin: pem(42) auto 0;
        background: url('../images/bn-dropzone.gif') no-repeat top center; 
        text-align: center;
        
        display: none;
        
        p {
            
            font-size: pem(14);    
            color: #9e9e9e;
            font-weight: normal;
            -webkit-font-smoothing: antialiased;
        }  
    }
    
    #bn-progress {
    
        width: pem(400, 14);
        margin: pem(42, 14) auto 0;    
        text-align: center;
        
        display: none;
        
        p {
            color: #555;
            font-size: pem(14);
            -webkit-font-smoothing: antialiased;
            
            span {
                
                font-weight: bold;
            }
        }
    }
    
    &.empty {
        
        #bn-empty {
            
            display: block;
        }
    }
    
    &.drop {
        
        background: $bn-green;
    
        .bn-books-list {
            
            display: none;
        }
    
        #bn-empty {
            
            display: block;
            background-image: url('../images/bn-dropzone-hover.gif');
            
            p {
                
                display: none;
            }
        }
    }
    
    &.uploading {
        
        #bn-progress {
            
            display: block;
        }
            
        #bn-empty {
            
            display: none;
        }
    }
    
    
    /* !Book Listings */
    
    .bn-books-list {
        
        list-style: none;
        padding: 0;
        
        li {
            
            width: pem(224);
            float: left;
            margin: pem(22);
            
            text-align: center;
            
            a {
                
                display: block;
                text-decoration: none;
                
                img {
                    
                    width: 80%;
                    box-shadow: 0 2px 10px #AAA;
                    -webkit-transition: all .11s ease-in-out;
                    -webkit-backface-visibility: hidden;
                    
                    &:hover {
            
                        -webkit-transform: scale(1.03);
                    }
                }
                
                h3 {
                    
                    font-size: pem(14);
                    line-height: pem(18, 14);
                    color: #333;
                    -webkit-font-smoothing: antialiased;
                    
                    margin-bottom: 0;
                }
                
                h4 {
                    
                    font-weight: normal;
                    font-size: pem(14);
                    color: #888;
                    -webkit-font-smoothing: antialiased;
                
                    margin-top: 0;
                }
            }
        }
    }
    
    
    /* !Reader */
    
    #bn-toc {

        position: absolute;        
        width: pem(336);
        overflow: auto;
        height: 100%;
        top: 0;

        border-right: 1px solid #BBB;
                
        ul {
            
            list-style: none;
            margin: 0.5em 0;
            padding-left: 2em;
            
            li {
                
                margin-bottom: 0.4em;
                
                a {
                    
                    display: block;
                    font-size: 0.75em;
                    line-height: 1.4em;
                    text-decoration: none;
                    color: #333;
                    
                    &:hover {
                        
                        text-decoration: underline;
                    }
                }
            }
        }
        
        & > ul {
            
            padding: 1em; 
        }
    }
    
    #bn-reader {
        
        position: absolute;
        left: pem(336);
        right: 0;
        height: 100%;
        overflow: auto;
        
        #reader {
            
            display: block;
            width: 75%;
            border: none;
            overflow: hidden;
            background: #FFF;
            padding: pem(40);
            border: 1px solid #9e9e9e;
            margin: pem(40) auto;
            
        }   
    }    
}
