{{> html }}

<body>
    
    <header class="clearfix">
        <h1>Booknode</h1>
    </header>
    
    <div class="bn-container">
    
        <ul class="bn-books-list clearfix">
            {{#books}}
                <li>
                    <a href="read/{{file}}" target="_blank">
                        <img src="books/{{cover}}" alt="{{title}}">
                        <h3>{{title}}</h3>
                        <h4>{{creator}}</h4>
                    </a>
    		{{/books}}
        </ul>
        
        {{^books}}
            <h2 class="bn-empty">Drag ePub files here to read.</h2>
        {{/books}}    

    </div>
    
    <div id="bn-drop"></div>
    
    {{> scripts }}
    <script src="assets/js/jq.filedrop.js"></script>
    <script src="assets/js/bn.library.js"></script>
    
</body>
</html>