{{> html }}

<body>
    
    <header class="clearfix">
        <h1>Booknode</h1>
    </header>
    
    <div id="bn-container" {{^books}}class="empty"{{/books}}>
    
        <ul class="bn-books-list clearfix">
            {{#books}}
                <li>
                    <a href="read/{{file}}" target="_blank">
                        <img src="books/{{cover}}" alt="{{title}}">
                        <h3>{{title}}</h3>
                        <h4>{{creator}}</h4>
                    </a>
    		{{/books}}
        </ul>

        <div id="bn-empty">
            <p>Drag ePub files here to read.</p>
        </div>
        
        <div id="bn-progress">
            <p>Adding <span>Book.epub</span> to Booknode</p>
            <progress max="100"></progress>
        </div>  

    </div>
        
    {{> scripts }}
    <script src="assets/js/jq.filedrop.js"></script>
    <script src="assets/js/bn.library.js"></script>
    
</body>
</html>