{{> html }}

<body>
    
    <header>
        <h1>{{book.title}} <span>by {{book.creator}}</span></h1>
    </header>
    
    <div class="bn-container">
        <div class="bn-toc">
            {{{toc}}}
        </div>
        <div class="bn-reader">
        
        </div>
    </div>
        
    {{> scripts }}
    
</body>
</html>