{{> html }}

<body>
    
    <header>
        <h1>{{book.title}} <span>by {{book.creator}}</span></h1>
    </header>
    
    <div id="bn-container" class="clearfix">
        <div id="bn-toc">
            {{{toc}}}
        </div>
        <div id="bn-reader">
            <iframe src="{{pos}}" id="reader"></iframe>
        </div>
    </div>
                
    {{> scripts }}
    <script src="/assets/js/bn.reader.js"></script>
    
</body>
</html>